In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import seaborn as sns

%matplotlib inline

In [34]:
df = pd.read_csv('home.csv')
df1 = pd.read_csv('passagem.csv')

In [35]:
#df.columns
df1.columns

Index([u'AMBIENTE', u'DEVICE', u'ID', u'STATUS', u'DATA', u'HORA'], dtype='object')

In [36]:
print len(df1)
df1.describe() # dos dados numericos

5591

           ID
count  5591.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0

In [37]:
leitura = len(df1)
Atual = (np.array(df1[leitura-2:leitura-1]).tolist())[0]
#d = (np.array(df[28:29]).tolist())[0]
print Atual

['sala', 'porta', 1, '134.868027 37.812283', '2018-11-15', '20:56:58.261519']

In [38]:
leitura = len(df1)
print leitura-10

5581

In [39]:
sensores = []
for p in range(20):
 data = np.array(df1[leitura-20:leitura]).tolist()[p]
 sensores.append(data[3])

In [40]:
s1 = []
s2 = []
for p in range(len(sensores)):
    s1.append(sensores[p].split()[0])
    s2.append(sensores[p].split()[1])

In [41]:
print s1
print s2

['132.804550', '131.030685', '133.257065', '164.317795', '132.333939', '135.718750', '135.827362', '163.467072', '132.370132', '134.107803', '133.691483', '131.447006', '163.014557', '134.904221', '134.506012', '134.071594', '134.904221', '134.940430', '134.868027', '134.506012']
['37.812283', '37.359764', '37.395966', '37.395966', '37.359764', '37.414066', '37.395966', '37.395966', '37.377865', '37.359764', '37.359764', '37.395966', '37.812283', '36.925350', '36.889149', '36.925350', '36.889149', '46.192886', '37.812283', '37.359764']

In [42]:
def atual():
 df = pd.read_csv('home.csv')
 leitura = len(df)
 atual = (np.array(df[leitura-1:leitura]).tolist())[0]
 dados = atual
 parametro = {
"Ambiente":dados[0],
"IoT":dados[1],
"ID":dados[2],
"status":dados[3],
"Data":dados[4],
"Hora":dados[5]
}
 return parametro

In [43]:
atual()

{'Ambiente': 'sala',
 'Data': '2018-11-16',
 'Hora': '01:32:57',
 'ID': 1,
 'IoT': 'janela',
 'status': 0}

In [44]:
for p in range(len(Atual)):
    print p,Atual[p]

0 sala
1 porta
2 1
3 134.868027 37.812283
4 2018-11-15
5 20:56:58.261519

In [45]:
(df.columns[3])

' STATUS '

In [54]:
def atual():
 janela = pd.read_csv('home.csv')
 passagem = pd.read_csv('passagem.csv')
 leitura = len(janela)
 leitura2 = len(passagem)
 atual = (np.array(janela[leitura-1:leitura]).tolist())[0]
 atual2 = (np.array(passagem[leitura2-1:leitura2]).tolist())[0]
 dados = atual
 dados1 = atual2
 passagem = {
"Ambiente":dados1[0],
"IoT":dados1[1],
"ID":dados1[2],
"status":dados1[3],
"Data":dados1[4],
"Hora":dados1[5]
     
 }   
 janela = {
"Ambiente":dados[0],
"IoT":dados[1],
"ID":dados[2],
"status":dados[3],
"Data":dados[4],
"Hora":dados[5]
}
 return janela,passagem

In [56]:
print atual()[0]

{'status': 1, 'Hora': '02:20:18', 'IoT': 'janela', 'ID': 1, 'Data': '2018-11-16', 'Ambiente': 'sala'}