In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('home.csv')

In [3]:
df.columns

Index([u'AMBIENTE ', u' DEVICE ', u' ID ', u' STATUS ', u' DATA  ', u'HORA'], dtype='object')

In [76]:
print len(df)
df.describe() # dos dados numericos

30

        ID     STATUS
count  30.0  30.000000
mean    1.0   0.566667
std     0.0   0.504007
min     1.0   0.000000
25%     1.0   0.000000
50%     1.0   1.000000
75%     1.0   1.000000
max     1.0   1.000000

In [79]:
leitura = len(df)
atual = (np.array(df[leitura-2:leitura-1]).tolist())[0]
#d = (np.array(df[28:29]).tolist())[0]
print atual

['sala', 'janela', 1, 1, '2018-10-15', '23:47:35.776860']

In [75]:
for p in range(len(d)):
    print p,d[p]

0 sala
1 janela
2 1
3 1
4 2018-10-15
5 23:47:35.776860