In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import seaborn as sns

%matplotlib inline

In [5]:
df = pd.read_csv('home.csv')
df1 = pd.read_csv('passagem.csv')

In [6]:
#df.columns
df1.columns

Index([u'AMBIENTE', u'DEVICE', u'ID', u'STATUS', u'DATA', u'HORA'], dtype='object')

In [7]:
print len(df1)
df1.describe() # dos dados numericos

620

          ID
count  620.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0

In [10]:
leitura = len(df1)
Atual = (np.array(df1[leitura-2:leitura-1]).tolist())[0]
#d = (np.array(df[28:29]).tolist())[0]
print Atual

['sala', 'porta', 1, '47.079819 48.129658', '2018-11-04', '22:22:12.944588']

In [43]:
lista = []
sensor1 = []
sensor2 = []
for p in range(1,30):
 data = (np.array(df1[leitura-p:leitura]).tolist())[0]
 lista.append(data[3])

for p in range(len(lista)):
    sensor1.append(lista[p].split()[0])
    sensor2.append(lista[p].split()[1])
#print sensor1
for p in sensor1:
    print p

47.097919
47.079819
47.097919
47.061718
47.079819
47.061718
47.061718
47.097919
47.079819
47.061718
47.061718
47.097919
47.061718
47.043617
47.061718
47.079819
47.097919
47.043617
47.061718
47.061718
47.079819
47.061718
47.079819
47.061718
47.061718
47.097919
47.079819
47.061718
47.097919

In [18]:
def atual():
 df = pd.read_csv('home.csv')
 leitura = len(df)
 atual = (np.array(df[leitura-1:leitura]).tolist())[0]
 dados = atual
 parametro = {
"Ambiente":dados[0],
"IoT":dados[1],
"ID":dados[2],
"status":dados[3],
"Data":dados[4],
"Hora":dados[5]
}
 return parametro

In [19]:
atual()

{'Ambiente': 'sala',
 'Data': '2018-11-01',
 'Hora': '02:57:26',
 'ID': 1,
 'IoT': 'janela',
 'status': 0}

In [22]:
for p in range(len(Atual)):
    print p,Atual[p]

0 sala
1 janela
2 1
3 0
4 2018-11-01
5 02:57:25

In [26]:
(df.columns[3])

' STATUS '