In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import seaborn as sns

%matplotlib inline

In [3]:
df = pd.read_csv('home.csv')

In [4]:
df.columns

Index([u'AMBIENTE ', u' DEVICE ', u' ID ', u' STATUS ', u' DATA  ', u'HORA'], dtype='object')

In [5]:
print len(df)
df.describe() # dos dados numericos

565

         ID      STATUS
count  565.0  565.000000
mean     1.0    0.095575
std      0.0    0.294268
min      1.0    0.000000
25%      1.0    0.000000
50%      1.0    0.000000
75%      1.0    0.000000
max      1.0    1.000000

In [21]:
leitura = len(df)
Atual = (np.array(df[leitura-2:leitura-1]).tolist())[0]
#d = (np.array(df[28:29]).tolist())[0]
print Atual

['sala', 'janela', 1, 0, '2018-11-01', '02:57:25']

In [18]:
def atual():
 df = pd.read_csv('home.csv')
 leitura = len(df)
 atual = (np.array(df[leitura-1:leitura]).tolist())[0]
 dados = atual
 parametro = {
"Ambiente":dados[0],
"IoT":dados[1],
"ID":dados[2],
"status":dados[3],
"Data":dados[4],
"Hora":dados[5]
}
 return parametro

In [19]:
atual()

{'Ambiente': 'sala',
 'Data': '2018-11-01',
 'Hora': '02:57:26',
 'ID': 1,
 'IoT': 'janela',
 'status': 0}

In [22]:
for p in range(len(Atual)):
    print p,Atual[p]

0 sala
1 janela
2 1
3 0
4 2018-11-01
5 02:57:25

In [26]:
(df.columns[3])

' STATUS '